@import "tailwindcss";

:root {
	--accent-color: #ff3d00;
	--accent2-color: #ff9100;
	--accent3-color: #ffc400;
	--accent4-color: #00c851;
	--primary-color: #c62828;
	--white-text-color: #ffffff;
	--dark-text-color: #212121;
	--gray-text-color: #b0bec5;
	--button-padding-x: 16px;
	--button-padding-y: 8px;
	--font-family-body: Roboto;
	--light-text-color: #fafafa;
	--dark-border-color: #424242;
	--light-border-color: #e0e0e0;
	--font-family-heading: Bebas Neue;
	--button-rounded-radius: 8px;
	--dark-background-color: #263238;
	--light-background-color: #fce0e0;
	--medium-background-color: #f6c6c6;
	--primary-button-text-color: #ffffff;
	--secondary-button-bg-color: #37474f;
	--secondary-button-text-color: #ffffff;
	--primary-button-hover-bg-color: #b71c1c;
	--primary-button-hover-text-color: #ffffff;
	--secondary-button-hover-bg-color: #263238;
	--secondary-button-hover-text-color: #ffffff;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

html {
	scroll-behavior: smooth;
}
